@model IEnumerable<GestionUsarios.Models.TblProfesor>

@{
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/Template/_Layoutprivate.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PfsNombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PfsApellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PfsEspecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PfsCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkPgmIdProgramaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PfsNombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfsApellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfsEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfsCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPgmIdProgramaNavigation.PkPgmIdPrograma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkPfsIdProfesor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkPfsIdProfesor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkPfsIdProfesor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
